asn1crypto==0.24.0
backports.functools-lru-cache==1.6.1
cryptography==2.1.4
cycler==0.10.0
Cython==0.29.21
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
matplotlib==2.2.5
mercurial==4.5.3
numpy==1.16.6
pycrypto==2.6.1
pygobject==3.26.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
pyxdg==0.25
PyYAML==3.12
scikit-learn==0.20.4
scipy==1.2.3
SecretStorage==2.3.1
six==1.11.0
subprocess32==3.5.4
